.sliding{
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.stoneBlue_2{
    position: absolute;
    max-width: 10px;
    z-index: 0;
    
}

.playingField {
    position: absolute;
    top: 150px;
    width: 1500px;
    z-index: -1;
}

.goalCircle {
    position: absolute;
    z-index: 0;
}

.scoreboard {
    border-style: solid;
    border-width: 5px;
    background-color: lightgray;
    border-right: 85%;
}